@import './normalize.css';
@import './skeleton.css';
@import './variables.scss';

h1 {
  font-family: "fira-sans-2";
}

input, button {
	width: 100%;
	// border: 0px;
	// border-bottom: 2px solid $res-blue;
	display: block;

	&:focus, &:hover, &:active {
		// border-bottom-color: $res-green;
		outline: none;
	}
}