@import './normalize.css';
@import './skeleton.css';
@import './variables.scss';

h1 {
  font-family: "acuta";
}

.drag-container {
	background: gray;
	border: 1px dashed white;
	height: 300px;
	width: 100%;

	&.active {
		background: black;
	}

	&.hidden {
		display: none;
	}
}

.header-container {
	margin-top: 40px;
}

.tracklist-container {
	margin-top: 50px;
	border-top: 1px solid black;
	// overflow: hidden;
}

.track-container {
	padding: 10px;
	border-bottom: 1px solid black;
}

input {
	border: 0px;
	border-bottom: 2px solid $res-blue;
	display: block;

	&:focus, &:hover, &:active {
		border-bottom-color: $res-green;
		outline: none;
	}
}

.album-cover {
	max-width: 100%;
}

body {
	background: green;
}


@media (max-width: 600px) {
  h3 {
    font-size: 24px;
  }
}

